@keyframes sombra 
    {  
        0%
            {
                filter: hue-rotate(0deg) brightness(100%) blur(0px); 
            }
        100%
            {
                filter: hue-rotate(0deg) brightness(100%) blur(0px);
            }
    }

body
    {
        margin: 0;
        padding: 0;
    }

#container
    {
        width: 980px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        padding-top: 70px;
        
    }

.imagem
    {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        animation: sombra 3s infinite;
    }

